@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir="rtl"] {
  direction: rtl;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Inter:wght@300;400;600&display=swap');

body {
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background-color: #fffaf5;
}
h1, h2, h3 {
  font-family: 'Merriweather', serif;
  
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height:100%;

}
* {
  box-sizing: border-box;
}
/* في ملف CSS الرئيسي */
html, body, #root {
 
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

